<nav
  class="navbar navbar-expand-sm bg-transparent shadow-lg custom-navbar fixed-top">
  <div class="container-fluid">
    <img src="assets/images/logo.jpg" class="logo" alt="RePublic">

    <!-- Toggler -->
    <button class="navbar-toggler" type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon custom-navbar-toggler-icon"
        (click)="collapseNavbar()"></span>
    </button>

    <!-- Collapsible nav content -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/home"
            routerLinkActive="active" (click)="collapseNavbar()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="active"
            (click)="collapseNavbar()">Products</a>
        </li>
      </ul>

      <div class="dropdown me-3">
        <button class="btn dropdown-toggle" type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          Categories
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li (click)="exploreCollectionFor('men')"><a class="dropdown-item"
              routerLink="/home"
              routerLinkActive="active" (click)="collapseNavbar()">For
              Him</a></li>
          <li (click)="exploreCollectionFor('woman')"><a class="dropdown-item"
              routerLink="/home"
              routerLinkActive="active" (click)="collapseNavbar()">For
              Her</a></li>

        </ul>
      </div>
    </div>

    <div class="d-flex align-items-center">
      <div class="cart-icon ms-2 m-2">
        <button class="btn position-relative" (click)="openCart()">
          <i class="bi bi-cart3 fs-4 text-light"></i>
          <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{ cartItemCount }}
          </span>
        </button>
      </div>
    </div>
  </div>
</nav>
