@import '../../../../assets/styles/vars.scss';

.products-page {
  .products-hero {
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('../../../../assets/images/hero1.jpg') center/cover;
    .bg-gradient-bottom-dark {
      background: linear-gradient(to bottom, rgb(0 0 0 / 30%) 60%, rgba(0, 0, 0, 0.9) 100%);
    }
  }
  .filter-header {
    cursor: pointer;
    &:hover {
      .toggle-icon {
        path {
          stroke: $gold-color;
        }
      }
    }
  }
  .toggle-icon {
    transition: transform 0.3s ease;
    path {
      transition: stroke 0.2s ease;
    }
    &.rotated {
      transform: rotate(90deg);
    }
  }

  .filter-icon {
    path,
    circle {
      stroke: $gold-color;
      }
  }
  
  .spinner-lg {
    width: 3rem;
    height: 3rem;
  }
  [stopPropagation] {
    pointer-events: none;

    * {
      pointer-events: auto;
    }
  }
}

.primaryColor{
  color: $primary-color;
}

.spinner-border{
  color: $primary-color;
  border-color: $primary-color;
}
