<footer class="site-footer">
  <div class="footer-container">
    <div class="footer-main">
      <div class="footer-brand">
        <h3 class="footer-logo">Scents of the World</h3>
        <p class="footer-tagline">Discover premium fragrances from every corner
          of the globe</p>
        <div class="social-links">
          <a href="https://www.facebook.com/share/19D416MMYu/" target="_blank"
            aria-label="Facebook"><i
              class="bi bi-facebook"></i></a>
          <a
            href="https://www.instagram.com/republic_fragrances_?igsh=YXVid3B2MHN4N3k1"
            target="_blank" aria-label="Instagram"><i
              class="bi bi-instagram"></i></a>
          <a
            href="https://www.tiktok.com/@republic.fragranc?_t=ZS-8u55Lb146it&_r=1"
            target="_blank" aria-label="Instagram"><i
              class="bi bi-tiktok"></i></a>
        </div>
      </div>

      <div class="footer-links">
        <div class="links-column">
          <h4 class="links-title">Shop</h4>
          <ul>
            <li (click)="exploreCollectionFor('men')"><a>For Men</a></li>
            <li (click)="exploreCollectionFor('woman')"><a>For Women</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="copyright">
        &copy; {{ currentYear }} Scents of the World. All rights reserved.
      </div>
    </div>
  </div>
</footer>
