<footer class="site-footer position-relative">
  <div class="footer-container my-0 mx-auto">
    <div
      class="footer-main d-flex justify-content-around align-items-stretch ">
      <div class="footer-brand">
        <h3 class="footer-logo ms-2">REpUBLIC</h3>
        <p class="footer-tagline ms-2">Discover fragrances from every corner
          of the globe</p>
        <div class="social-links d-flex gap-4 ms-1 mb-3">
          <a href="https://www.facebook.com/share/19D416MMYu/" target="_blank"
            aria-label="Facebook"><i
              class="bi bi-facebook"></i></a>
          <a
            href="https://www.instagram.com/republic_fragrances_?igsh=YXVid3B2MHN4N3k1"
            target="_blank" aria-label="Instagram"><i
              class="bi bi-instagram"></i></a>
          <a
            href="https://www.tiktok.com/@republic.fragranc?_t=ZS-8u55Lb146it&_r=1"
            target="_blank" aria-label="Instagram"><i
              class="bi bi-tiktok"></i></a>
        </div>
      </div>

      <div class="footer-links">
        <div class="links-column">
          <h4 class="links-title">Shop</h4>
          <ul class="list-unstyled p-0">
            <li (click)="exploreCollectionFor('men')"><a type="button">For
                Men</a></li>
            <li (click)="exploreCollectionFor('woman')"><a type="button">For
                Women</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div
      class="footer-bottom text-center d-flex align-items-center flex-column">
      <div class="copyright">
        &copy; {{ currentYear }} REpUBLIC. All rights reserved.
      </div>
    </div>
  </div>
</footer>
