<div class="perfume-card" *ngIf="perfume">
  <div class="perfume-image" (click)="openDetails(perfume)">
    <div class="image-overlay"></div>
    <span>open</span>
    <img [src]="perfume.images[0]" [alt]="perfume.name" loading="lazy">
    <div class="perfume-badge" *ngIf="perfume.isNew">New</div>
  </div>
  <div class="perfume-details">
    <div class="header-section">
      <div class="perfume-type">
        <h3>{{ perfume.name | uppercase }}</h3>
        <div class="category d-flex align-items-center gap-2">
          <div class="category-badge">{{perfume.category}}</div>
          <button
            class="wishlist"
            [class.filled]="perfume.inWishlist"
            (click)="toggleWishlist(perfume)">
            <svg viewBox="0 0 24 24">
              <path
                d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5
         2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81
         14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55
         11.54L12 21.35z" />
            </svg>
          </button>

        </div>
      </div>
    </div>
    <p class="description">{{ perfume.description }}</p>
    <div class="features">
      <span class="feature-tag" *ngFor="let feature of perfume.features">
        <i class="feature-icon" [class]="getFeatureIcon(feature)"></i>
        {{ feature }}
      </span>
    </div>
    <div class="notes-accordion">
      <div class="note-section" (click)="toggleNotes()">
        <h4>Fragrance Notes <i class="toggle-icon">{{ showNotes ? '▲' : '▼'
            }}</i></h4>
        <div class="note-content" [class.expanded]="showNotes">
          <div class="note-group">
            <span class="note-label">Top:</span>
            <span class="note-values">{{ perfume.notes.top.join(', ')
              }}</span>
          </div>
          <div class="note-group">
            <span class="note-label">Middle:</span>
            <span class="note-values">{{ perfume.notes.middle.join(', ')
              }}</span>
          </div>
          <div class="note-group">
            <span class="note-label">Base:</span>
            <span class="note-values">{{ perfume.notes.base.join(', ')
              }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="price-section">
      <span class="price">{{ +perfume.price | number: '1.2-2' }}</span>
      <div *ngIf="!addedToCart; else addedState">
        <select class="size-select" [(ngModel)]="selectedSize">
          <option
            [value]="availableSizes[1]"
            disabled>{{availableSizes[1]}}ml</option>
        </select>
        <button type="button" class="add-to-cart" (click)="addToCart(perfume)">
          <i class="cart-icon"></i> Add to Cart
        </button>
      </div>
      <ng-template #addedState>
        <button type="button" (click)="removeFromCart(perfume)"
          class="add-to-cart">Remove From the Cart</button>
      </ng-template>
    </div>
  </div>
</div>

<app-perfume-details
  [perfume]="perfume"
  [isOpen]="showDetails"
  (closed)="showDetails = false"
  (addedToCart)="addToCart($event)">
</app-perfume-details>
