<div class="perfume-details-overlay" (click)="closeDetails()"
  [class.open]="isOpen">
  <div class="perfume-details-container" (click)="$event.stopPropagation()">
    <button class="close-button" (click)="closeDetails()"
      aria-label="Close details">
      <svg viewBox="0 0 24 24">
        <path
          d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z" />
      </svg>
    </button>

    <div class="perfume-images">
      <div class="main-image"
        [style.backgroundImage]="'url(' + selectedImage + ')'">
        <div class="image-nav">
          <button class="nav-button prev" (click)="prevImage()"
            aria-label="Previous image">
            <svg viewBox="0 0 24 24">
              <path
                d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z" />
            </svg>
          </button>
          <button class="nav-button next" (click)="nextImage()"
            aria-label="Next image">
            <svg viewBox="0 0 24 24">
              <path
                d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z" />
            </svg>
          </button>
        </div>
      </div>
      <div class="thumbnail-container">
        <div *ngFor="let image of perfume.images; let i = index"
          class="thumbnail"
          [style.backgroundImage]="'url(' + image + ')'"
          [class.active]="image === selectedImage"
          (click)="selectImage(image)"></div>
      </div>
    </div>

    <div class="perfume-info">
      <div class="perfume-header">
        <h1 class="perfume-name">{{perfume.name | uppercase }}</h1>
        <p class="perfume-brand">{{perfume.category}}</p>
      </div>

      <div class="perfume-description">
        <p>{{perfume.details}}</p>
      </div>
      <hr>
      <div class="perfume-specs">
        <div class="features">
          <span class="feature-tag" *ngFor="let feature of perfume.features">
            <i class="feature-icon"></i>
            {{ feature }}
          </span>
        </div>
      </div>

      <div class="price-section">
        <div class="price">{{perfume.price | currency:'EGP'}}</div>
      </div>

      <div class="action-buttons">
        <button class="add-to-cart" (click)="togleCart()">
          <svg viewBox="0 0 24 24">
            <path
              d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z" />
          </svg>
          {{ addedToCart ? 'Remove from Cart' : 'Add to Cart' }}
        </button>
      </div>
    </div>
  </div>
</div>
